body {
    background-color: #f5f8f9;
    
}

article {
    background-color: #fff;
    
    font-family: 'lato', sans-serif;
}
article .content {
    padding: 30px;
    
}
article .content h3 {
    color: #d0021b;
    font-size: 1.125em;
    font-weight: 900;
    border-bottom: 1px solid #d0021b;
    padding-bottom: 5px;
    margin-top: 75px
}

article .content h3 i {
    margin-right: 5px;
}

article .empresa h4{
    font-size: 1.063em;
    font-weight: 900;
    color: #3a3c40;
    margin-bottom: 3px;
}

article .empresa h5{
    font-size: 0.938em;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 2px;
}

article .empresa small {
    font-size: 0.938em;
    font-weight: 300;
    color: #4a4a4a;
}