ul {
    margin-top: -1px;
    margin-left: -39px;
    list-style-type: none;
    background-color: #fff;
}

li {
    height: 150px;
    background-color: #4a4a4a;
    margin-bottom: 4px;
    display:flex;
    align-items: center;

}

li#pj1,li#pj2,li#pj3 {
    height: 150px;
    background-color: #27ae60;
    margin-bottom: 4px;
    display:flex;
    align-items: center;
}

li:hover {
   background-color: #757575;
    
}

li#pj1:hover,li#pj2:hover,li#pj3:hover {
   background-color: #3fca79;
    
}

#done {
    margin-left: 28px;
    margin-right: 31px;
    display: block;
    
}

#arrow {
    
    margin-right: 31px;
    margin-left: auto;
    display: block;
    
    
    
}

a {
    position:absolute;
    color: #fff;
    font-size: 20px;
    font-family: 'oswald',sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right:90%;
    padding-top: 60px;
    padding-left: 91px;
    padding-bottom: 60px;
    white-space: nowrap;
    
}