ul {
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    margin: 0;
}

li {
    padding: 60px 40px 60px 100px;
    background-color: #4a4a4a;
    margin-bottom: 4px;
    background-image: url('imagens/undone.png');
    background-repeat: no-repeat;
    background-position: 40px center ;
    
    }

li:hover {
   background-color: #6e6e6e;
   
}

li#done {
    background-color: #27ae60;
    background-image:url('imagens/done.png');

}

li#done:hover {
    background-color: #52be7f;
}


a {
    display: block;
    color: #fff;
    font-size: 20px;
    font-family: 'oswald',sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: url('imagens/arrow%20right.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-font-smoothing: antialiased;
    
    
}