/*------mobile------*/



body {
    
    padding: 10px;
}

h1 {
    text-align: center;
    background-image: url(Imagens/Logo%20Playcode.png);
    background-repeat: no-repeat;
    background-position: center;
}

span {
    visibility: hidden;
}

a {
    text-decoration: none;
}

.card {
    margin-bottom: 40px;
}
.card img {
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
}

@media screen (min-width: 500px);

.container {
    max-width: 960px;
    margin: 0 auto;    
    
}

.card {
    max-width: 300px;
    padding-right: 20px;
    float: left;
}

